<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ManagementDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Moiz\Documents\ManagementDb.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ManagementDb2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Moiz\Documents\ManagementDb.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ManagementDb3" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Moiz\Documents\ManagementDb.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ManagementDb4" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Moiz\Documents\ManagementDb.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
    <add name="ManagementDb5" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Moiz\Documents\ManagementDb.mdf;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString6" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString7" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString8" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString9" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString10" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString11" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString12" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString13" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString14" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
 providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString15" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
 providerName="System.Data.SqlClient" />
    <add name="matrixConnectionString16" connectionString="Data Source=Vimiratech\VIMIRATECH;Initial Catalog=matrix;Integrated Security=True"
 providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
